*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(204, 208, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background-color: rgb(208, 215, 221);
    padding: 40px;
    border-radius:10px;
    box-shadow: rgb(134, 40, 103),
    -20px -20px 60px rgb(145, 21, 128);

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.display{
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    background-color: white;
    border-radius: 10%;
    margin-bottom: 30px;
    box-shadow: inset 20px 20px 20px rgb(207, 190, 176),
    inset -20px -20px 60px white;
    color: violet;
}

button{
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: rgb(18, 8, 104);
    box-shadow: rgb(134, 40, 103),
    -20px -20px 60px rgb(145, 21, 128);

    transition: all 0.2s ease-in-out;
}

button:hover{
    transition: translate(5px,5px);
    box-shadow: 5px 5px 5px whitesmoke,
    -5px -5px 15 px white;
}

.start{
    background-color: rgb(13, 122, 77);
    color: white;   
}
.stop{
    background-color: rgb(116, 52, 10);
    color: white;
}
.reset{
    background-color: rgb(180, 32, 12);
    color: white;
}